<div class="toolbar" role="banner">
  <span class="title">TodoList</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">
  <h2>TODOs</h2>

  <div class="card-container">
    <div class="card">
      <form class="form">
        <mat-form-field>
          <input matInput placeholder="Add Task" type="text" [(ngModel)]="taskName" name="taskName" (keyup.enter)="addTodo()">
          <button mat-button *ngIf="taskName" matSuffix mat-icon-button aria-label="Clear">
            <mat-icon (click)="clear()">close</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
  </div>

</div>
