<div class="toolbar" role="banner">
  <span class="title">TodoList</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">
  <h2>Today's Todos</h2>

  <div class="card-container">
    <div class="card">
      <form class="form">
        <mat-form-field>
          <input matInput placeholder="Add Task" type="text" [(ngModel)]="taskName" name="taskName" (keyup.enter)="addTodo()">
          <button mat-button *ngIf="taskName" matSuffix mat-icon-button aria-label="Clear">
            <mat-icon (click)="taskName=''">close</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
  </div>

  <mat-card class="todo-card">
    <div *ngIf="todos.length != 0">
      <button mat-flat-button (click)="todos=[]">Clear All</button>
      <mat-selection-list>
          <mat-list-option checkboxPosition="before" *ngFor="let todo of todos">
            <div>{{todo}}</div>
          </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-card>

</div>
